* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 72px;
    background-color: lightblue;
    color: black;
    padding-left: 50px;
    
}

.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header section ul {
    list-style-type: none;
}

.header section ul li {
    display: inline-block;
    margin-left: 25px;
}

.subtitle {
    float: right;
    position: relative;
    text-align: center;
    top: 400px;
    right: 30px;
    font-size: 72px;
    background-color: lightblue;
    color: black;
    padding-left: 50px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: lightblue;
    text-decoration: underline;
    font-size: 24px;
}

p {
    font-size: 16px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.contentSection {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0072bb;
    display: flex;
}

.headerSection h2 {
    margin-bottom: 20px;
    font-size: 36px;
    text-align: right;
    padding-right: 20px;
    border-right: 5px solid #0072bb;
    height: 100%;
    flex-grow: 1;
}
.contentSubsection p {
    text-align: right;
    padding-left: 20px;
    flex-grow: 2;

}

.contentSectionWork {
    min-height: 300px;
    height: 100%;
    display: flex;
    
   
}

.contentSubsection {
    flex-grow:3;
}

.headerSection {
    flex-grow:1;
}

.pictureContainer {
    position:relative;
    text-align: center;
    width:50%;
    padding: 20px;
}

.pictureContainerBig {
    position:relative;
    text-align: center;
    width:100%;
    padding: 20px;
}

.workSection {
    text-align: right;
    padding: 100px;
    height: auto;
    display: flex;
    flex-wrap:wrap;
    flex-grow: 3;
}

.workSection h3 {
    display:flex;
    flex-direction:column;
   position: absolute;
   justify-content: center;
   bottom: 80px;
   left: 20px;
   background-color: lightblue;
   color: black;
   height: 40px;
   width: 200px;
   font-size: 24px ;
}

.workSection p {
    display:flex;
    flex-direction:column;
   position: absolute;
   justify-content: center;
   bottom: 50px;
   left: 20px;
   background-color: lightblue;
   color: black;
   height: 40px;
   width: 200px;
}

.pictureBig {
    width: 100%;
    height: auto;
    float: right;
    border-style: solid;
    border-width: thick;
    border-color: lightblue;
    position:relative;
    opacity: 80%;

}

.pictureBig:hover {
    opacity: 100%;
}

.pictureSmall {
    height: 250px;
    float: left;
    width: 100%;
    position:relative;
    border-style: solid;
    border-width: thick;
    border-color: lightblue;
    opacity: 80%;
}

.pictureSmall:hover {
    opacity: 100%
}

