* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 72px;
    background-color: lightblue;
    color: black;
    padding-left: 50px;
    
}

.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header section ul {
    list-style-type: none;
}

.header section ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: lightblue;
    text-decoration: underline;
    font-size: 24px;
}

p {
    font-size: 16px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 100%;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.contentSection {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0072bb;
}

.contentSection h2 {
    margin-bottom: 20px;
    font-size: 36px;
    text-align: right;
    width: 10%;
    float: left;
    padding-right: 20px;
    border-right: 5px solid #0072bb;
    height: 100%;
}
.contentSection p {
    text-align: right;
    width: 90%;
    float: right;
}

.contentSectionWork {
    height: auto;
    display: inline-block;
}

.contentSection div {
    text-align: right;
    width: 90%;
    float: right;
    padding: 100px;
    height: auto;
}
.pictureBig {
    width: 100%;
    height: auto;
    float: right;
    padding: 20px;
}

.pictureSmall {
    height: 250px;
    float: left;
    width: 50%;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
}
